html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#list {
}

.list-content {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  border:solid 1px #000000;
  top: 20px;
  bottom: 10px;
  position: absolute;
  width: 100%;
}

.list-force-height {
  position: absolute;
  border: 1px transparent solid;
  margin: 0px;
}

.list-items > * {
  position: absolute;
  margin: 0px;
  padding: 0px;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width:12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-clip:padding-box;background-color:#fff;border-left-width:5px;border-right-width:0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  background-clip:padding-box;
  background-color:rgba(0,0,0,.2);
  min-height:28px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-align-self: center;
}

.flex-item {
  margin: 5px;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  position: relative;
}
